:root { /*para criar variáveis css*/
  --background-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4rem;

  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);

  background-color: var(--background-button);

  outline: none;
}

.button:active { /*para o botão ficar mais escuro ao clicar*/
  background-color: #ccc;
}

.button.double { /*vamos aplicar essa propriedade em botões que devem ocupar duas posições*/
  grid-column: span 2;
}

.button.triple { /*vamos aplicar essa propriedade em botões que devem ocupar três posições*/
  grid-column: span 3;
}

.button.operation { /*vamos aplicar essa propriedade em botões de operações*/
  background-color: #fa8231;
  color: #fff;
}

.button.operation:active {
  background-color: #fa8231cc;
}