.Contador input {
  font-size: 1.4rem;

  width: 60px;
}

.Contador button {
  font-size: 1.4rem;

  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  background-color: rosybrown;
  color: #fff;
}